@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

* a,
input {
    cursor: pointer;
}

body {
    background-color: #393E46;
}

.loginmain {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    background-color: #222831;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
}

.loginbox input,
button {
    width: 100%;
    font-size: 16px;
}

.loginbox input {
    font-family: 'Zen Kurenaido', sans-serif;
    padding: 5px;
    border: none;
    background-color: #222831;
    color: #DFEEEA;
    border-bottom: 1px #DFEEEA solid;
    font-size: 16px;
    margin-top: 10px;
}

.loginbox input:focus {
    outline: none;
}

.loginbox input::placeholder {
    color: #DFEEEA;
    opacity: 1;
}

.loginbox input:-ms-input-placeholder {
    color: #DFEEEA;
}

.loginbox input::-ms-input-placeholder {
    color: #DFEEEA;
}

.loginbox button {
    padding: 5px;
    background-color: #2F5D62;
    border: none;
    color: #DFEEEA;
    border-radius: 2px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

.loginbox button:hover {
    background-color: #24484d;
    ;
    cursor: pointer;
}

.loginbox h1 {
    text-align: center;
    color: #DFEEEA;
    font-size: 24px;
    font-weight: 200;
    margin-top: 10px;
}

.loginbox p {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0;
}